.title-1{
    font-size: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}